<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido a Corpotulipa</title>
</head>
<body>
    <div style='background: linear-gradient(90deg, rgba(9,9,121,1) 25%, rgba(2,0,36,1) 100%); width: 280px; padding: 0px; border-radius: .5em; height: 400px;text-align: center;'>
        <img src="https://scontent-mia3-2.xx.fbcdn.net/v/t1.6435-9/fr/cp0/e15/q65/47579219_2320627264841153_7971103540644937728_n.jpg?_nc_cat=102&ccb=1-5&_nc_sid=da1649&efg=eyJpIjoidCJ9&_nc_ohc=AykRmq8COisAX8dDXwg&_nc_ht=scontent-mia3-2.xx&oh=00_AT8AOLwbQ7MqYhkZko0zGrFcqCJG90z29DFmbBWxfYG00w&oe=6217EF89" width="250px" height="100px" style="border-radius: .5em;margin-top: 10px;">
        <h1 style='color: rgb(250, 225, 112); font-size: 2em; text-align: center;'>Bienvenido a Corpotulipa</h1>
        <h3 style='color: rgb(250, 225, 112); text-align: center;'>%Nombre% %Apellido%</h3>
        <p style='color: rgb(250, 225, 112); text-align: center; font-weight: bold;'>Contraseña: %Password%</p>
    </div>
</body>
</html>